@import './../../shared/variables.scss';
body{
    background: #F1F3F4;
}
.booking-div{
    // min-height: 490px;
    padding: 20px;
}

.bookings-div{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
}

.booking-div h1{
    font-size: 20px;
    font-weight: 500;
    color: #222;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: sans-serif;
}

.booking-image{
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.bookings-container{
    background: #FFF;
    padding: 3px;
}

// .bookings-container div:not(:last-child) {
//     border-right: 1px solid #ccc;
// }

.bookings-container h4{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
}
.name-container{
    display: inline-block;
    position: absolute;
}
.name-container2{
    display: inline-block;
    position: absolute;
    right: 0;
}

.booked-event-date{
    font-size: 12px;
    display: block;
    font-family: sans-serif;
    margin-top: 6px;
    margin-left: -2px;
}
.booked-on{
    color: rgb(85, 85, 85);
    float: right;
    font-weight: 500;
    font-size: 12px !important;
}

.location-icon{
    width: 14px;
    float: left;
    margin-top: -5px;
    fill: #333;
    margin-right: 3px;
}

.view-ticket{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: none;
    outline: none;
    color: #FFF;
    padding: 5px 10px;
    font-family: sans-serif;
    background: $primary-color;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

.bottom{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.event-name-div{
    padding: 10px;
}

.total-seats{
    margin-left: 10px;
    border-bottom: 1px dashed rgb(187, 187, 187);
    padding-bottom: 7px;
    font-size: 12px;
    border-top: 1px dashed #ddd;
    padding-top: 7px;
    display: block;
}

.event-date-position{
    position: absolute;
    top: 108px;
    background: rgba(0,0,0,.7);
    right: 8px;
    border-radius: 50px;
    font-size: 10px;
    padding: 3px 7px;
    text-transform: uppercase;
    color: #FFF;
    letter-spacing: .3px;
}