// FONTS
$body-font: Google Sans,Roboto,Arial,Helvetica,sans-serif;

// COLORS
$black-color: #000000;
$white-color: #FFFFFF;
$primary-color: #06101f;
$secondary-white: #f9f9f9;
$grey-color: #CCCCCC;
$light-black: #333333;
