@import './../shared/variables.scss';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.event-card{
    width: 100%;
    overflow: hidden;
    height: 270px;
    position: relative;
    border-bottom: 1px solid #d6d6d6;
}
.event-card .event-banner{
    width: 100%;
    cursor: pointer;
    height: 220px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.date-time{
    position: absolute;
    margin-top: 198px;
    color: #FFF;
    font-size: 12px;
    background: rgba(0,0,0,.8);
    // background-color: rgba(255, 255, 255, 0.2);
    padding: 4px;
    left: 0px;
    right: 0px;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .date-time {
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      background-color: rgba(0, 0, 0, 0.5);  
    }
  }

.calendar-div{
    display: inline-block;
    background: white;
    width: 40px;
    height: 55px;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    float: left;
    border-right: 1px solid #eee;
}
.calendar-month{
    text-align: center;
    // background: linear-gradient(#444, #000);
    border-radius: 4px 4px 0 0;
    // color: white;
    padding: 2px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13px;
}
.calendar-date{
    text-align: center;
    font-size: 23px;
    padding: 4px;
    font-weight: 400;
    color: #333;
    margin-bottom: -8px;
    font-family: 'Google Sans';
}
.event-name{
    display: inline-block;
    font-size: 14px;
    margin-top: 0px;
    // margin-left: 5px;
    font-weight: 500;
}
.event-full-address{
    display: block;
    font-size: 11px;
    margin-top: 3px;
    color: #222;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.create-event-div{
    background: $white-color;
    margin: 30px;
    // box-shadow: 0 0 2px #ccc;
    padding: 30px;
    margin-top: 70px;
}
.create-event-div > h1{
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 500;
    text-transform: uppercase;
    color: #444;
}

.label{
    // font-family: 'Roboto';
    // font-weight: 400;
    // font-size: 13px;
    // display: block;
    // margin-bottom: 5px;
    // color: #444;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 11px;
    display: block;
    margin-bottom: 5px;
    color: #444;
    text-transform: uppercase;
}
.form-input-container{
    margin: 25px 0;
    position: relative;
}

.location-div{
    padding: 8px 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.location-city_name{
    font-size: 14px;
    font-weight: 500;
    color: #222;
}
.location-state_name{
    font-size: 12px;
    color: #333;
}


.loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid darkgray;
    width: 20px;
    height: 20px;
    animation: spin .5s linear infinite;
    position: absolute;
    left: 0;
    top: 21px;
    margin-left: 386px;
  }

    
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

.input-field{
    border: 1px solid #ccc!important;
    padding: 6px;
    font-size: 13px !important;
    border-radius: 1px;
    outline: none;
    font-family: 'Roboto';
}

.input-field:focus{
    border: 1.3px solid #000 !important;
}

.anchor-non-hyper{
    font-size: 13px;
    font-family: 'Roboto';
    color: #389cd1;
    cursor: pointer;
}

.anchor-non-hyper:hover{
    text-decoration: underline !important;
}

#map {
    height: 100%;
}

.continue-btn{
    border: none;
    background: #000;
    width: 314px;
    height: 35px;
    color: white;
    font-weight: 500;
    font-family: 'Google Sans';
    font-size: 14px;
    cursor: pointer;
    outline: none;
    text-align: center;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.continue-btn:disabled{
    cursor: not-allowed;
    background: #ccc;
}

.continue-btn > span {
    display: inline-block;
    float: left;
    margin-left: 16px;
    margin-right: 10px;
}

.login-div{
    padding: 30px;
    background: #FFF;
    margin: 20px;
    margin-top: 20px;
    // box-shadow: 0 0 2px #eee;
}
.login-div .heading{
    font-size: 18px;
    // font-family: 'Roboto';
    // font-weight: 400;
}
.info-icon{
    position: absolute;
    right: 0;
    top: 25px;
    fill: #c76358;
}
.not-a-member{
    // font-family: 'Google Sans';
    font-weight: 500;
    font-size: 13px;
    color: #333;
    margin-top: 30px;
    display: block;
}
.anchor{
    color: #05b1e6;
    cursor: pointer;
}
.upload-img-div{
    border: 2px dashed #ccc;
    border-radius: 2px;
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 130px;
    margin-top: 10px;
    cursor: pointer;
    align-items: center;
    width: 100%;
}
.selected-img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.upload-img-div svg{
    height: 60px;
    width: 60px;
    fill: #bbb;
}

// .MuiBackdrop-root{
//     z-index: -1 !important;
// }
.MuiDialog-paperWidthSm{
    width: 500px;
    height: 300px;
}
.MuiTypography-h6{
    font-family: 'Google Sans';
    font-size: 18px;
}

.backdrop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.6);
}

.radiogroup{
    display: unset;
}
.MuiFormControlLabel-label{
    font-size: 13px;
}


.add-category{
    color: dodgerblue;
    display: inline-block;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    cursor: pointer;
}
.add-category svg{
    float: left;
    width: 17px;
    margin-top: -2px;
}
.save-category{
    float: right;
    cursor: pointer;
    // margin-right: 100px;
    background: dodgerblue;
    border: none;
    color: #FFF;
    width: 100px;
    padding: 7px;
    border-radius: 2px;
    outline: none;
}
.MuiPaper-elevation1{
    box-shadow: none !important;
}

.MuiAlert-standardWarning{
    padding: 4px 17px;
    border-radius: 0px;
    margin-bottom: 30px;
    border: 1px solid rgba(102, 60, 0, .1);
}

.edit-btn{
    position: absolute;
    bottom: 5px;
    right: 0px;
    outline: none;
    color: #FFF;
    background: #0f60bd;
    padding: 4px 25px;
    border-radius: 50px;
    font-family: 'Google Sans';
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.min-height{
    min-height: calc(100vh - 261px);
}